.AddressForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;

    &__input {
        margin-right: 1rem;
        width: 100%;
    }

    & button {
        width: 7rem;
    }

    @media screen and (max-width: $sm) {
        display: block;
        margin-bottom: 9rem;
    
        &__input input {
            font-size: 0.75rem;
            letter-spacing: -1px;
            word-spacing: -1px;
        }

        & button {
            margin-top: 0.5rem;
            width: 100%;
        }
    }
}