.AddressModal {
    & .Modal__container {
        min-width: 350px;

        @media screen and (max-width: $sm) {
            min-width: 300px;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__input-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        & .Input {
            margin-right: 0.5rem;
            width: 100%;
        }

        & button {
            width: 4rem;
        }

        @media screen and (max-width: $sm) {
            display: block;

            & button {
                width: 100%;
            }
        }
    }

    & .Line {
        margin: 0.5rem 0;
    }

    & .AddressList {
        margin-bottom: 1rem;
        min-height: 5rem;
    }
}