.AddressForm {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
        margin-right: 1rem;
        width: 100%;
    }

    & button {
        width: 7rem;
    }
}