.ArticleImageInput {
    display: inline-block;
    margin-right: 1rem;
    border: 1px dotted $secondary;
    border-radius: 0.2rem;

    & label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
    }
}