.Badge {
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    font-weight: 600;

    // 색깔/아웃라인
    @each $color in primary, primary-dark, secondary, secondary-light, secondary-dark, tertiary, danger {
        &.#{$color} {
            border: 1px solid colorVariable($color);
            background-color: colorVariable($color);
            color: if($color == primary, $secondary-dark, white);
        }

        &.#{$color}.outline {
            border: 1px solid colorVariable($color);
            background-color: white;
            color: colorVariable($color);  
        }
    }

    // 사이즈
    &.sm {
        padding: 0.1rem 0.8rem;
        font-size: 0.5rem;
    }

    &.md {
        padding: 0.1rem 1rem;
        font-size: 0.7rem;
    }

    &.lg {
        padding: 0.1rem 1.2rem;
        font-size: 1rem;   
    }
}