.Dropdown {
    position: relative;
    cursor: pointer;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1rem 1rem;
        border: 1px solid $secondary-light;
        border-radius: 0.1rem;
        
        & svg {
            margin-left: 0.5rem;
            color: $secondary;
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        max-height: calc(30px * 5);
        overflow-y: scroll;
        border: 1px solid $secondary-light;
        border-top: none;
        background-color: white;
        z-index: 1;
    }

    &__option {
        padding: 0.2rem 1rem;
        height: 30px;

        &:hover {
            background-color: $secondary-light;
        }
    }
}