.ErrorBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: 1px dashed $danger;
    color: $danger;

    &__message {
        margin-bottom: 0.5rem;
    }

    &__icon {
        & svg {
            font-size: 2rem;
            color: $danger;
        }
    }
}