.SimpleRegionDropdown {
    &__dropdown {
        width: 7rem;

        &--red .Dropdown__head {
            border-color: $danger;
        }
    }

    &__invalid-text {
        font-size: 0.8rem;
        color: $danger;
    }
}