// breakpoints
$sm: 576px;
$md: 768px;

// viewport width에 따른 max-width
$sm-max-width: 500px;
$md-max-width: 600px;
$lg-max-width: 1200px;

// colors
$primary: #C9F394;
$primary-dark: #A8C082;

$secondary: rgba(32, 17, 17, 0.33);
$secondary-dark: rgba(52, 52, 52, 0.81);
$secondary-light: #F5F5F5;

$tertiary: #89D5FF;

$danger: #F95E5E;
