.ChangePassword {
    &__title {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__old-password, &__password, &__password2 {
        margin-bottom: 1rem;
    }

    &__password2 {
        margin-bottom: 1.5rem;
    }
}