.CreateCommunity {
    &__dropdown-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @media screen and (max-width: $sm) {
            display: block;
        }
    }

    &__button-wrap {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 10rem;
    }
}