.CreateCommunity {
    &__dropdown-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        @media screen and (max-width: $sm) {
            display: block;
        }
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__title-input {
        margin-bottom: 0.2rem;
        width: 100%;

        & input {
            border-style: dotted;
            font-size: 1rem;
        }
    }

    &__title-length {
        align-self: end;
        font-weight: 700;
        color: $primary-dark;

        &--limit {
            color: $secondary-dark;
        }
    }

    &__button-wrap {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 10rem;
    }
}